* {
    margin: 0;
    padding: 0;
}


/* 导航栏 */

.bigger {
    width: 1515px;
    margin: 0px auto;
    position: relative;
}

.bigw {
    border: 1px solid #ccc;
    border-top: 1px;
    margin-top: 10px;
}

.big {
    width: 1000px;
    margin: 0px auto;
    position: relative;
    margin-bottom: 10px;
}

.big>.jiguo {
    display: inline-block;
    margin-left: 0px;
}

.first {
    display: inline-block;
    margin-left: 40px;
}

.first:hover {
    color: orangered;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#firstsy {
    color: #000000;
}

.big>.right {
    position: absolute;
    right: 0px;
    top: 20px;
}

.big>.right>a {
    display: inline-block;
    margin-left: 40px;
}

.big>.right>a:hover {
    color: orangered;
}

.big>.right>button {
    margin-left: 40px;
    color: orangered;
    border: 1px orangered solid;
    font-size: 12px;
    width: 40px;
    border-radius: 4px;
}


/* 底部 */

.wei {
    width: 100%;
    height: 280px;
    margin-top: 15px;
    background-color: #505050;
    margin-bottom: 0px;
}

.big1 {
    width: 100%;
    height: 280px;
    margin: 0px auto;
}

.big2 {
    width: 1050px;
    margin: 0px auto;
}

.erweima {
    width: 150px;
    height: 150px;
    float: left;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 30px;
}

.quan {
    width: 132px;
    margin-left: 30px;
    float: left;
    overflow: hidden;
    margin-top: 20px;
}

li {
    list-style: none;
    font-size: 12px;
    color: #9F9C92;
}

ul {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}

.img1 {
    width: 150px;
    height: 150px;
}

.img2 {
    width: 130px;
    height: 46px;
    margin-bottom: 16px;
}

.wenzi1 {
    font-size: 12px;
    margin-top: 10px;
    color: #9F9C92;
}

.title {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
    color: #9F9C92;
    display: inline-block;
}

.suo {
    text-align: center;
    margin-top: 60px;
    font-size: 12px;
    position: relative;
}

a:hover {
    color: green;
}


/* 免费试用 */

.mfsy {
    text-align: center;
    /* font-weight: 700; */
    font-size: 30px;
    margin-top: 30px;
}

.ty div {
    display: inline-block;
}

.tyright {
    margin-left: 50px;
    opacity: 0.7;
}

.ty {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.tyleft {
    color: #E96243;
    position: relative;
}

.afte {
    background-color: #E96243;
    position: absolute;
    width: 106px;
    height: 3px;
    left: -20px;
    top: 28px;
}

.qb {
    text-align: center;
    position: absolute;
    left: 405px;
    top: 234px;
    margin-top: 30px;
}

.qb span {
    margin-left: 100px;
}

.qb2 {
    opacity: 0.6;
}

.bimg {
    width: 1515px;
    background-color: #F7F7F7;
    margin-top: 50px;
    overflow: hidden;
}

.mian {
    width: 1050px;
    margin: 0 auto;
    height: 350px;
    position: relative;
}

.lun {
    width: 220px;
    height: 285px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0px 19px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    float: left;
    margin-top: 30px;
}

.biaoti {
    text-align: center;
    margin-top: 10px;
}

.lun span:nth-of-type(1) {
    color: chocolate;
    border: 1px solid chocolate;
    border-radius: 5px;
    text-align: center;
    margin-left: 37px;
}

.lun span {
    color: chocolate;
    border: 1px solid chocolate;
    width: 43px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 172px;
    left: 70px;
    margin: 0 -17px;
}

.p1 {
    margin-left: -33px;
    margin-top: 39px;
    box-sizing: border-box;
}

.p1 p:nth-of-type(1) {
    display: inline-block;
    color: chocolate;
    border: none;
    margin: 20px 0 20px 100px;
}

.p2 {
    margin-left: 66px;
    margin-top: -15px;
}


/* 点击加载更多 */

.jiazai {
    width: 150px;
    height: 20px;
    text-align: center;
    opacity: 0.6;
    position: absolute;
    left: 441px;
    top: -25px;
    margin: 0px auto;
    font-size: 16px;
}

.first:nth-child(5) {
    color: #E86540;
}